@tailwind base;
@tailwind utilities;

body {
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: auto;
  max-width: 800px;
}

.field {
  margin: 10px;
}

.wrap {
  width: auto;
}
