@tailwind base;
@tailwind utilities;

body {
  font-family: 'Verdana', sans-serif;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  width: auto;
}

.field {
  margin: 10px;
}

.wrap {
  width: auto;
}
